.outpatient {
    padding: 3rem 0;
}

.outpatient-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.outpatient-header {
    text-align: center;
    padding: 3rem 0;
}

.outpatient-right {
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.outpatient-right li {
    line-height: 1.5rem;
}

.outpatient-right h1 {
    padding: 1rem 0;
    font-size: 1.2rem;
}

.outpatient-left {
    width: 400px;
    margin: auto;
    padding: 1rem;
}

.outpatient-left img {
    width: 100%;
    border-radius: 1rem;
}

@media screen and (max-width:940px) {

    .outpatient-content {
        flex-wrap: wrap-reverse;
    }

    .outpatient-left {
        width: 80%;;
    }

    .outpatient-right {
        width: 90%;
    }
    
}