.treatment {
    width: 100%;
    height: 100vh;
    background: rgba(241, 238, 238, 0);
    position: relative;
  }
  
  .treatment:before {
    content: '';
    position: absolute;
    background: url('../../assets/method-bg-min.jpg') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  
  .treatment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .treatment .treatment-content {
    display: block;
    position: absolute;
    bottom: 20%;
    left: 10%;
    padding: 1rem;
  }
  
  .treatment h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(243, 235, 235);
  }


  /* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .treatment h1 {
        font-size: 3rem;
    }
    }