@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');


  
  .hero {
    position: relative;
    background: url('../../assets/hero-bg-min.webp') no-repeat center top/cover;
    width: 100%;
    z-index: -1;
    height: 100vh;

  }

.hero .hero-container {
    position: absolute;
    padding: 1rem;
    bottom: 8%;
    width: 100%;
}


.hero-container p {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 0 1rem ;
    letter-spacing: 2px;
    font-family: 'Licorice', cursive;
    z-index: 9999;
    line-height: 4rem;
}




/* MEDIA QUERIES */

@media screen and (max-width:650px) {

    .hero-container p {
        font-size: 3rem;
    }


}
