@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

.sample {
  padding: 5rem 0 0 0;
}

.sampleSection {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../assets/hero-bg-2.jpg') no-repeat center center/cover;
}

.sampleContainer {
  width: 100%;
  max-width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sample-left {
  width: 100%;
  height: 600px;
  background: url(../../assets/whoweare-1.jpg) no-repeat center / cover;
  padding: 1rem;  
  border-radius: 1rem;
}

.sample-right {
  width: 70%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.671);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 1rem;
  color: white;
  margin-left: -150px;

  -webkit-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
  box-shadow: 17px 10px 28px -18px rgba(0,0,0,0.75);
}


.sample .content {
    text-align: center;
}

.sample-header {
    text-align: center;
    padding: 2rem 1rem;
}

.sample-right h1 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--primary-color);
}

.sample-right h2 {
  font-size: 1rem;
  font-weight: 300;
}

.sample-right p {
  margin: 20px 0;
  color: var(--primary-color);
}

.sample .hero-button button {
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}


@media only screen and (max-width: 768px) {
  .sampleContainer {
    flex-direction: column;
    width: 100%;
  }

  .sample-left {
    width: 100%;
    height: 400px;
  }

  .sample-right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }

  .sample {
    padding: 3rem 0 0 0;
  }

}

