@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --primary-color: rgb(8, 140, 145);
  --primary-dark: #141d35;
  --secondary-color: #46a828;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}


p {
  font-size: 24px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);

}

h2 {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  position: relative;
}

button {
  font-family: 'Roboto', sans-serif;
  margin: 1rem 0;
  background-color: var(--primary-color);
  border: none;
  color: #f8f8f8;
  font-size: 1.2rem;
  font-weight: 500;
  cursor:pointer;
}


/* button:hover {
  background-color: #4ad15c;
  border: 1px solid #4ad15c;
} */

span {
  color: var(--primary-color);
}


/* SUBMENU */

.sub__menus__arrows:hover .sub__menus{
  display: block;
}

.sub__menus__arrows__full:hover .sub__menus{
  display: block;
  z-index: 1000000;
}

.menu-item .sub__menus  a {
padding: 7px 0 0px 0;
margin: 0px 5px;
}

  
  p {
      font-size: 15px;
  }

  .prog-link {
    color: var(--primary-color);
    font-size: 12px;
  }

  .prog-link:hover {
    color: var(--secondary-color);
  }

  .star {
    color: goldenrod;
}

  /* MEDIA QUERIES */
  
  @media screen and (max-width:940px) {

    p {
        font-size: 14px;
        text-align: center;
    }

    .wrap .header {
        font-size: 1.5rem;
        text-align: center;
    }

    .wrap .box-btn button {
        margin: 1rem auto;
    }
}


@media screen and (max-width:375px) {
  .box img {
      width: 100%;
      height: 300px;
  }
}

.job-link a {
  color:var(--primary-color);
  font-weight: bold;
}

.job-link a:hover {
  color: #46a828;
}

@media screen and (max-width:940px) {

  .main-menu h1 {
      font-size: 1.5rem;
  }

  .main-menu-header h1{
      font-size: 1.5rem;
  }
  
  .main-menu-content p{
      font-size: 14px;
  }

  .main-menu .content {
    font-size: 14px;
    padding: 0 2rem;
}
}

